#animalsDisponibles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: rgb(118, 216, 118);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
}

.cardAnimal {
    border: 1px solid black;
    background-color: rgb(189, 235, 117);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    row-gap: 10px;
    align-items: center;
}

.cardAnimal img {
    width: 100%;
}

.idAnimal {
    background-color: rgb(235, 193, 103);
    border: 3px solid red;
    color: red;
    border-radius: 10px;
    width: 20%;
    text-align: center;
}

.nomComu {
    width: 100%;
    background-color: white;
    border: 3px solid darkblue;
    color: darkblue;
    border-radius: 10px;
    text-align: center;
}

.nomCientific {
    width: 95%;
    text-align: right;
    color: blue;
}

.descripcio {
    width: 100%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
    padding: 5px;
}

.donacio {
    width: 30%;
    background-color: rgba(197, 248, 197, 0.562);
    border: 3px solid green;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    justify-self: center;
}

.formAnimal {
    width: 100%;
    padding: 10px;
    background-color: lightcoral;
    border: 3px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.formAnimal label {
    font-weight: bold;
    color: blue;
}

.formAnimal input {
    width: 100px;
}

.formAnimal button {
    height: 30px;
    width: 190px;
}