/*FORMULARI*/

#formulari {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.apartatFormulari {
    display: flex;
    align-items: center;
    justify-content: right;
    border: 2px solid green;
    border-radius: 7px;
    width: 70%;
    min-width: min-content;
    padding: 1% 15% 1% 0%;
    margin-bottom: 5px;
    
}

.apartatFormulari label {
    margin-right: 10px;
}

.apartatFormulari input:not(input[type="radio"]), .apartatFormulari select {
    height: 30px;
    width: 40%;
}

input:required {
    border: 2px solid red;
}

input:required:valid {
    border: 2px solid green;
}

#botones {
    padding: 1% 7.5% 1% 7.5%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#botones > button {
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

#puntuar > input {
    width: 20%;
}


/*RESPOSTA*/

.resposta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    background: linear-gradient(to right, white, rgb(255, 151, 114) 30%, rgb(255, 151, 114)70%, white);
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: large;
}

.resposta > span {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}

#animalApadrinat {
    padding: 1% 0 1% 0;
    height: fit-content;
}

#huellas {
    height: fit-content;
    display: flex;
}

#numeroHuellas {
    margin-right: 10px;
    border: 3px solid red;
    background-color: lightsalmon;
    padding: 2px;
}

#contenedorHuellas {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 12px;
}

#contenedorHuellas > img {
    margin: 3px;
}